* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*define font color and family*/
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/*apply header styles -- start*/
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*style run buddy title*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
/*style links*/
header a {
    color: #fce138;
    text-decoration: none;
}
/*style nav*/
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/*apply header styles -- end*/

/*hero style --start*/
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/*hero cta section */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/*hero form section*/
.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    border: solid 3px #024e76;
    width: 40%;
    margin: 3.5%;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background-color: #024e76;
    color: #fce138;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}
/*hero style -- end*/

/*shared section styles -- start*/
.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 35%;
  }
  
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }
/*shared section styles --end*/
/*intro section style -- start */

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px; 
    margin: 0 auto;
    text-align: center;
}

/*intro section style -- end*/
/*steps section style -- start*/
.steps {
    background-color: #fce138;
}

.step {
    margin: 50px auto;
    padding: 0 0 50px 0;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
}

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img {
    max-width: 100%;
}

.step-text {
    flex: 12;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}

.steps p {
    color: #39a6b2;
    font-size: 23px;
}
/*steps section style -- end*/

/*meet the trainers section -- START*/
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer {
    margin: 20px;
    background: #024276;
    color: #fce138;
    flex: 1;
}

.trainer img {
    width: 100%;
}

.trainer-bio {
    padding: 35px;
    line-height: 1.3;
}

.trainer-bio h3{
    font-size: 28px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.trainer-bio p {
    font-size: 17px;
}
/*meet the trainers section -- END*/

/*Reach out section -- start*/
.contact {
    background-color: #024e76;
}

.contact h2,
.contact a {
    color: #fce138 !important;
}

.contact h3 {
    color: #fce138;
    font-size: 32px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info p,
.contact-info address {
    font-style: normal;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

.contact-info div {
    color: white;
}

.contact-info iframe {
    height: 400px;
}

/*reach out section -- end*/

/* apply footer styles -- start*/
footer {
    background: #fce138;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
/*style footer heading*/
footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
    padding: 12px 2vw;
}
/*style footer content*/
footer div {
    line-height: 1.5;
    text-align: right;
    padding: 12px 4vw;
}
/*style footer links*/
footer a {
    color: #024e76;
}
/* apply footer styles -- end*/

/*utility classes  -- start*/
section {
    padding: 60px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}
/*utility classes  -- END*/
/*madia queries rules -- start*/
/*Smaller desktops - START*/
@media screen and (max-width: 980px) {
    header nav a {
        /*this will only be applied on any screen smaller than 980px*/
    }
}
/*Smaller desktops - END*/

/*Tablets and smaller - START*/
@media screen and (max-width: 768px) {
    header h1 {
        /*this will be applied to any screen between 768px and 980px*/
    }
}
/*Tablets and smaller - END*/

/*Mobile phones and smaller -- START*/
@media screen and (max-width: 575px) {
    header h1 {
        /*this will be applied on screens below 575px*/
    }
}
/*Mobile phones and smaller -- END*/
/*madia queries rules -- END*/



